.product-card-image-wrapper {
    padding: 0;
}

.w-webflow-badge {
    display: none !important;
}

.page-wrapper {
    padding-top: 74px;
}

.navigation {
    justify-content: flex-end;
}

.product-card-wrapper {
    width: 50%;
}

.product-card-image-wrapper {
    height: 347px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.footer-nav {
    justify-content: flex-end;
}

.side-block.small-padding-side {
    padding-right: 10px;
    padding-left: 10px;
}

.side-block {
    justify-content: flex-start;
}

.hovered-block {
    position: relative;
}
.hovered-block .hovered-block-plank {
    opacity: 0;
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 0;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
}

.hovered-block:hover .hovered-block-plank {
    opacity: 1;
    bottom: 20px;
}

.hovered-block .hovered-block-plank h4,
.hovered-block .hovered-block-plank p {
    margin-bottom: 5px;
}

.hovered-block:hover {
    transform: none;
}

.text-black {
    color: #000000;
}

.footer {
    padding-bottom: 40px;
}

.footer-copyright {
    margin-left: 15px;
}

.product-info {
    float: left;
}

.product-image-wrapper {
    padding: 0;
    height: 300px;
}

.product-image-wrapper img {
    height: 300px;
}

.profile-slider__preloader {
    width: 100%;
    height: 300px;
    text-align: center;
}

.profile-slider__preloader img {
    margin-top: 125px;
}
.product-slider__item {
    display: none;
}
.slick-dots li.slick-active button:before {
    color: #a5c926;
}
.w-commerce-commercecartcontainerwrapper {
    z-index: 100;
}

.w-commerce-commercecartformwrapper .submit {
    display: flex;
    justify-content: center;
}

.photo-hover-layout {
    position: relative;
    margin-top: -65px;
}
.photo-hover-layout__item {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 65px;
    height: 65px;
    cursor: pointer;
}

#popup-photo .pupup-full_name {
    width: 100%;
    text-align: center;
}
#popup-photo .pupup-desc {
    padding: 20px;
    margin-bottom: 0;
    text-align: center;
}
#popup-photo .pupup-photo-wrap {
    background-color: #cacaca;
    display: flex;
}
#popup-photo .pupup-photo {
    height: 500px;
    width: auto;
    max-width: 100%;
    margin: 0 auto;
}

#people_name {
    position: absolute;
    background: #000000;
    color: #ffffff;
    padding: 3px 10px;
    margin-top: -60px;
    margin-left: calc(-50%);
    width: max-content;
    border-radius: 20px;
}

.hidden {
    display: none;
}

.p-0 {
    padding: 0;
}
.p-30 {
    padding: 30px;
}
.mt-0 {
    margin-top: 0;
}
